<p style="text-align: center">Checkout</p>
<table class="table table-bordered">
	<tr>
		<td>Item</td>
		<td>Price</td>
		<td>Quantity</td>
		<td>Total Price</td>
	</tr>
	<tr *ngFor="let item of cart.items; let idex = index">
		<td>{{item.title}}</td>
		<td>{{item.price}}</td>
		<td>
			<input [(ngModel)]="item.quantity" #quantity="ngModel" type="number" disabled="disabled" />
		</td>
		<td>{{item.price * item.quantity}}</td>
	</tr>
	<tr>
		<td colspan="3" style="text-align: right">Total Price:</td>
		<td colspan="2">{{cart.total}}</td>
	</tr>
</table>