<p style="text-align: center">Checkout</p>
<table class="table table-bordered">
	<tr>
		<td (click)="sort('title')">Item <i *ngIf="_sortByTitle" class="fa fa-caret-down"></i></td>
		<td (click)="sort('price')">Price <i *ngIf="_sortByPrice" class="fa fa-caret-down"></i></td>
		<td (click)="sort('qty')">Quantity <i *ngIf="_sortByQty" class="fa fa-caret-down"></i></td>
		<td (click)="sort('total')">Total Price <i *ngIf="_sortByTotal" class="fa fa-caret-down"></i></td>
	</tr>
	<tr *ngFor="let item of cart.items; let idex = index">
		<td>{{item.title}}</td>
		<td>{{item.price}}</td>
		<td>
			<input [(ngModel)]="item.quantity" #quantity="ngModel" type="number" disabled="disabled" />
		</td>
		<td>{{item.price * item.quantity}}</td>
	</tr>
	<tr>
		<td colspan="3" style="text-align: right">Total Price:</td>
		<td colspan="2">{{cart.total}}</td>
	</tr>
</table>