<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/products">Products</a>
        </li>
        <li>
          <a routerLink="/cart">Cart</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main style="padding-top: 100px">
  <div class="container">
    <router-outlet></router-outlet>
    
  </div>
</main>

